---
---

$header-heading-color: #fff !default;
$header-bg-color: #5b05fc !default;
$header-bg-color-secondary: #8404FC !default;

$section-headings-color: #8404FC !default;

$code-text-color: #567482 !default;

.dark-mode {
  $code-bg-color: #4a4b4c !default;
  background-color: black;
  color: white;
}

+ .btn {
  cursor: pointer;
}

@import "{{ site.theme }}";
