<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>Ezpezialet | El primer bot de discord en català</title>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">Ezpezialet</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">Veure a GitHub</a>
        <a class="btn" style="cursor: pointer;" onclick="darkMode()">Mode clar/fosc</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
    <div class="core_features">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <img src="https://media.discordapp.net/attachments/919329630761148428/919330574861205534/Captura_de_pantalla_2021-12-11_a_las_21.50.52.png">
            </div>
            <div class="col-md-6 mt-sm-20">
              <h3>Moderació</h3>
              <p>Amb l'<b>Ezpezialet</b> pots moderar el teu servidor d'una manera fàcil.<br>
                Pots borrar missatges a la vegada, banejar a la gent i expulsar-la.<br>
                Les comandes són fàcils de fer servir i molt intuitives!</p>
            </div>
          </div>


          <div class="section-top-border text-right">
            <div class="row">
              <div class="col-md-6">
                <h1> ENTRETENIMENT </h1>
                <h3 class="text-right">Tot tipus d'entreteniment podras trobar al Cata<b>BOT</b>!
                  Desde traductors, memes, fotos de gats i gossos, una pokedex, saber lo gay que ets, la
                  mesura del teu penis, fer que el bot digui el que vulguis, les estadistiques del covid, i molt més!
                </h3>
              </div>
              <div class="col-md-6">
                <img src="img/pokedex.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <img src="img/kick.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-6 mt-sm-20">
              <h1> MODERACIÓ </h1>
              <h3>Si ets administrador del servidor, el Cata<b>BOT</b> t'ofereix una gran diversitat de comandes
                de moderació!
                Es pot banejar a qui es necessiti, el mateix amb el kick. Inclús té una comanda per esborrar
                fins a 100 missatges!
              </h3>
            </div>
          </div>

          <div class="section-top-border text-right">
            <div class="row">
              <div class="col-md-7">
                <h1> SERVIDOR OFICIAL </h1>
                <h3 class="text-right">Entra ja al servidor oficial del Cata<b>BOT</b>!
                  Podràs parlar amb els devs, moderadors i gent espectacular que hi ha aqui dins! Prova el
                  Cata<b>BOT</b> en el servidor oficial o al teu servidor privat amb el link d'invitació!
                </h3>
              </div>
              <div class="col-md-5">
                <iframe src="https://discordapp.com/widget?id=804473669556109333&amp;theme=dark" width="350" height="500" allowtransparency="true" frameborder="0">
                </iframe>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
  <script>
    function darkMode() {
      var element = document.body;
      element.classList.toggle("dark-mode");
    }
  </script>
</html>
